.results-table {
    border-spacing: 6px !important;
    border-collapse: separate !important;

    caption {
        text-align: center !important;
    }

    thead {
        tr {
            th:first-child {
                background: none !important;
                border-left: none !important;
                border-top: none !important;
            }
        }
    }

    tr {
        th:first-child {
            font-weight: bold;
            text-align: right;
            border: none !important;
        }
    }

    tr.results-learn-more {
        td {
            border: none !important;
        }
    }
}