<footer class="usa-footer">
    <div class="grid-container usa-footer__return-to-top">
        <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
        
    </div>

    <div class="usa-footer__secondary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
                    <div class="mobile-lg:grid-col-auto">
                        <img class="height-10" src="assets/img/SBA-Logo-Horizontal-RGB.svg" alt="" />
                    </div>
                </div>
                <div class="usa-footer__contact-links mobile-lg:grid-col-6">
                    <div class="usa-footer__social-links grid-row grid-gap-1">
                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="javascript:void(0);">
                                <img class="usa-social-link__icon" src="assets/img/usa-icons/facebook.svg"
                                    alt="Facebook" />
                            </a>
                        </div>

                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="javascript:void(0);">
                                <img class="usa-social-link__icon" src="assets/img/usa-icons/twitter.svg"
                                    alt="Twitter" />
                            </a>
                        </div>

                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="javascript:void(0);">
                                <img class="usa-social-link__icon" src="assets/img/usa-icons/youtube.svg"
                                    alt="YouTube" />
                            </a>
                        </div>

                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="javascript:void(0);">
                                <img class="usa-social-link__icon" src="assets/img/usa-icons/instagram.svg"
                                    alt="Instagram" />
                            </a>
                        </div>

                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="javascript:void(0);">
                                <img class="usa-social-link__icon" src="assets/img/usa-icons/rss_feed.svg" alt="RSS" />
                            </a>
                        </div>
                    </div>
                    <h3 class="usa-footer__contact-heading">
                        SBA Answer Desk
                    </h3>
                    <address class="usa-footer__address">
                        <div class="usa-footer__contact-info grid-row grid-gap">
                            <div class="grid-col-auto">
                                <a href="tel:1-800-827-5722"> 800-827-5722</a>
                            </div>
                            <div class="grid-col-auto">
                                <a href="mailto:answerdesk@sba.gov">
                                    answerdesk@sba.gov
                                </a>
                            </div>
                        </div>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>