<script src="assets/js/uswds.min.js"></script>
<script src="assets/js/inputs.js"></script>

<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<section class="usa-banner" aria-label="Official government website">
    <div class="usa-accordion">
        <header class="usa-banner__header">
            <div class="usa-banner__inner">
                <div class="grid-col-auto">
                    <img class="usa-banner__header-flag" src="assets/img/uswds-icons/construction_worker.svg" alt="U.S. flag" />
                </div>
                <div class="grid-col-fill tablet:grid-col-auto">
                    <p class="usa-banner__header-text">
                        Not Functional / For Demonstration Purposes Only
                    </p>
                </div>
            </div>
        </header>
    </div>
</section>

<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo" id="basic-logo">
                <em class="usa-logo__text">
                    <a href="index.html" title="SBA Direct Lending">
                        SBA Direct Lending
                    </a>
                </em>
            </div>
            <button class="usa-menu-btn">Menu</button>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
            <button class="usa-nav__close">
                <img src="assets/img/usa-icons/close.svg" role="img" alt="Close" />
            </button>
            <ul class="usa-nav__primary usa-accordion">
                <li class="usa-nav__primary-item">
                    <a href="index.html" class="usa-nav__link">
                        <span>Home</span>
                    </a>
                </li>
                <li class="usa-nav__primary-item">
                    <a href="eligibility-option-2.html" class="usa-nav__link">
                        <span>Eligibility</span>
                    </a>
                </li>
                <li class="usa-nav__primary-item">
                    <a href="faq.html" class="usa-nav__link">
                        <span>FAQ</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>